[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
djangorestframework = "*"
django-filter = "*"
psycopg2-binary = "*"
djangorestframework-simplejwt = "*"

[dev-packages]
isort = "*"
flake8 = "*"
ipdb = "*"
black = "*"
django-debug-toolbar = "*"
pytest = "*"
pytest-django = "*"
pytest-cov = "*"

[requires]
python_version = "3.10"
